html {
  font-size: calc(10px + 1vmax/100) !important;
}

h2.ant-typography,
.ant-typography h2 {
  font-size: 2.7rem;
  margin: 0;
}

h3.ant-typography,
.ant-typography h3 {
  font-size: 2.5rem;
}

h4.ant-typography,
.ant-typography h4 {
  font-size: 2.3rem;
}

div.ant-typography,
.ant-typography p {
  font-size: 1.5rem;
}

.ant-table {
  font-size: 1.5rem;
}

.ant-menu-item {
  font-size: 1.3rem;
}

.width-100 {
  width: 100%;
}

.width-95 {
  width: 95%;
}

.width-90 {
  width: 90%;
}

.width-84 {
  width: 84%;
}

.width-75 {
  width: 75%;
}

.width-50 {
  width: 50%;
}

.width-30 {
  width: 30%;
}

.width-20 {
  width: 20%;
}

.max-width-300 {
  max-width: 300px;
}

.max-width-350 {
  max-width: 370px;
}

.min-width-150 {
  min-width: 150px;
}

.height-100 {
  height: 100%;
}

.height-80 {
  height: 80%;
}

.display-flex {
  display: flex;
}

.col-flex {
  flex-direction: column;
}

.row-flex {
  flex-direction: row;
}

.center-flex {
  justify-content: center;
  align-items: center;
}

.space-around-flex {
  justify-content: space-around;
}

.space-between-flex {
  justify-content: space-between;
}

.background-course-details {
  background-color: honeydew;
}

.course-details-margin {
  margin-top: 1em;
  margin-bottom: 1em;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.center-a-div {
  margin: 1% auto;
}

.center-a-div-no-margin {
  margin: 0 auto;
}

.my-sign-up-form {
  width: 50%;
  max-width: 600px;
}

.my-container-default {
  height: 100%;
}

.ant-form-item-label {
  text-align: left;
}

.ant-row {
  justify-content: center;
}

.ant-form-item-has-error {
  margin-bottom: 25px;

}

.header-flex {
  align-items: initial;
}

.header-flex * {
  margin: 0.5%;
}

.ant-layout-sider-children {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-container-my {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.header-menu-width {
  width: 75%;
  display: flex;
  justify-content: space-around;
}

.header-menu-width li {
  width: 25%;
  text-align: center;
  font-size: 1.7rem;
}

.social-link {
  font-size: 2rem;
}

.social-link-facebook {
  color: #3c5a99;
}

.header-sub-my {
  text-align: center;
  font-size: 1.7rem;
}

.ant-switch-my {
  margin: 1.5%;
  max-width: 150px;
}

.margin-inside * {
  margin: 0.1%;
}

.sign-in-up-my {
  width: 100%;
}

.sign-in-up-my li {
  width: 50%;
  text-align: center;
}

.ant-switch-inner {
  font-size: 1.3rem;
}

.ant-menu {
  background-color: transparent;
}

.ant-form-item {
  margin: 0 0 8px 0;
}

.img-card-my {
  width: 100%;
  height: auto;
}

.ant-menu {
  background-color: transparent;
}

.ant-login-form-my {
  max-width: 220px;
}

.ant-login-forgot-my {
  font-size: 1.5rem;
}

.ant-input {
  font-size: 1.5rem;
}

.ant-input-my {
  width: 300px;
  height: 4rem;
  font-size: 1.5rem;
}

.ant-input-search-my {
  font-size: 1.5rem;
}

.ant-input-my-sign-up {
  width: 300px;
  height: 3.5rem;
  font-size: 1.5rem;
}

.logo-img {
  width: 65px;
  height: 65px;
}

.ant-btn-primary-my {
  text-transform: uppercase;
}

.ant-menu-submenu-popup>.ant-menu {
  background-color: #f0f2f5;
}

.ant-btn-lg {
  font-size: 1.7rem;
  padding: 0;
}

.ant-layout-header {
  height: auto;
  line-height: 25px;
  background-color: transparent;
}

.ant-layout-content {
  margin: 0.1% auto;
  width: 98%;
}

.ant-layout-footer {
  padding: 0.5%;
}

.ant-card-my {
  width: 300px;
}

.ant-card-my:hover {
  transform: scale(1.05);
  z-index: 100;
  transition: all 0.3s;
}

.ant-card-meta-description {
  min-height: 155px;
}

.ant-pagination {
  margin-top: 0.5%;
}

.row-overflow {
  overflow: auto;
}

.overflow-auto {
  overflow: auto;
}

.anticon {
  margin: 0 auto;
}

.my-facebook {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 1.7rem;
  background-color: #3c5a99;
  color: white;
  border: none;
  width: 300px;
}

.my-facebook:hover {
  cursor: pointer;
  background-color: #577ac5;
}

.mb-25px {
  margin-bottom: 25px;
}

.mb-50px {
  margin-bottom: 50px;
}

.mt-25px {
  margin-top: 25px;
}

.mt-50px {
  margin-top: 50px;
}

.ant-form-item-control-input-content {
  display: flex;
  justify-content: space-around;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .ant-col-sm-offset-8 {
    margin-left: 0;
  }

  .ant-col-sm-16 {
    max-width: 100%;
  }

  h2.ant-typography,
  .ant-typography h2 {
    font-size: 1.7rem;
    margin: 0;
  }

  h3.ant-typography,
  .ant-typography h3 {
    font-size: 1.6rem;
  }

  h4.ant-typography,
  .ant-typography h4 {
    font-size: 1.5rem;
  }

  div.ant-typography,
  .ant-typography p {
    font-size: 1rem;
  }

  .ant-table {
    font-size: 1rem;
  }

  .header-menu-width li {
    font-size: 1.1rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {

  h2.ant-typography,
  .ant-typography h2 {
    font-size: 2.5rem;
    margin: 0;
  }

  h3.ant-typography,
  .ant-typography h3 {
    font-size: 2.4rem;
  }

  h4.ant-typography,
  .ant-typography h4 {
    font-size: 2.2rem;
  }

  div.ant-typography,
  .ant-typography p {
    font-size: 1.3rem;
  }

  .ant-table {
    font-size: 1.3rem;
  }

  .header-menu-width li {
    font-size: 1.5rem;
  }
}