.width-100 {
  width: 100%;
}

.width-95 {
  width: 95%;
}

.width-90 {
  width: 90%;
}

.width-84 {
  width: 84%;
}

.width-75 {
  width: 75%;
}

.width-50 {
  width: 50%;
}

.width-30 {
  width: 30%;
}

.width-20 {
  width: 20%;
}

.height-100 {
  height: 100%;
}

.display-flex {
  display: flex;
}

.col-flex {
  flex-direction: column;
}

.row-flex {
  flex-direction: row;
}

.center-flex {
  justify-content: center;
  align-items: center;
}

.space-around-flex {
  justify-content: space-around;
}

.space-between-flex {
  justify-content: space-between;
}

.center-a-div {
  margin: 2% auto;
}

.my-container-default {
  height: 100%;
}

.ant-form-item-label {
  text-align: left;
}

.header-flex {
  align-items: initial;
}

.header-flex * {
  margin: 0.5%;
}

.ant-layout-sider-children {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-container-my {
  width: 100%;
}

.img-card-my {
  width: 100%;
  height: auto;
}

.ant-layout-header {
  height: 55px;
  line-height: 55px;
}

.ant-layout-footer {
  padding: 1%;
}

.ant-pagination {
  margin-top: 0.5%;
}

.my-facebook {
  height: 40px;
  font-size: 16px;
  background-color: #3c5a99;
  color: white;
  border: none;
  margin-left: 5px;
}

.my-facebook:hover {
  cursor: pointer;
  background-color: #577ac5;
}

.mb-25px {
  margin-bottom: 25px;
}

.mb-50px {
  margin-bottom: 50px;
}

.mt-25px {
  margin-top: 25px;
}

.mt-50px {
  margin-top: 50px;
}

.ant-form-item-control-input-content {
  display: flex;
  justify-content: space-around;
}

@media (min-width: 576px) {
  .ant-col-sm-offset-8 {
    margin-left: 0;
  }
}

@media (min-width: 576px) {
  .ant-col-sm-16 {
    max-width: 100%;
  }
}