@mixin width100 {
    width: 100%;
}

@mixin width84 {
    width: 84%;
}

@mixin width75 {
    width: 75%;
}

@mixin width50 {
    width: 50%;
}

@mixin width30 {
    width: 30%;
}

@mixin width20 {
    width: 20%;
}

@mixin height-100 {
    height: 100%;
}

@mixin displayFlex {
    display: flex;
}

@mixin colFlex {
    flex-direction: column;
}

@mixin rowFlex {
    flex-direction: row;
}

@mixin centerFlex {
    justify-content: center;
    align-items: center;
}

@mixin spaceAroundFlex {
    justify-content: space-around;
}

@mixin spaceBetweenFlex {
    justify-content: space-between;
}

.width-100 {
    @include width100();
}

.width-95 {
    width: 95%;
}

.width-90 {
    width: 90%;
}

.width-84 {
    width: 84%;
}

.width-75 {
    @include width75()
}

.width-50 {
    @include width50()
}

.width-30 {
    @include width30();
}

.width-20 {
    @include width20();
}

.max-width-300 {
    max-width: 300px;
}

.min-width-150 {
    min-width: 150px;
}

.height-100 {
    @include height-100();
}

.display-flex {
    @include displayFlex();
}

.col-flex {
    @include colFlex();
}

.row-flex {
    @include rowFlex();
}

.center-flex {
    @include centerFlex();
}

.space-around-flex {
    @include spaceAroundFlex();
}

.space-between-flex {
    @include spaceBetweenFlex();
}

.align-center {
    align-items: center;
}

.center-a-div {
    margin: 2% auto;
}

.my-container-default {
    height: 100%;
}

.ant-form-item-label {
    text-align: left;
}

.header-flex {
    align-items: initial;

    * {
        margin: 0.5%;
    }
}

.ant-layout-sider-children {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-container-my {
    width: 100%;
}

.ant-menu {
    background-color: transparent;
}

.ant-form-item {
    margin: 0 0 8px 0;
}

.img-card-my {
    width: 100%;
    height: auto;
}

.ant-menu {
    background-color: transparent;
}

.ant-menu-submenu-popup>.ant-menu {
    background-color: rgb(240, 242, 245);
}

.ant-layout-header {
    height: 55px;
    line-height: 55px;
    background-color: transparent;
}

.ant-layout-content {
    margin: 0.5% auto;
    width: 98%;
}

.ant-layout-footer {
    padding: 0.5%;
}

.ant-pagination {
    margin-top: 0.5%;
}

.row-overflow {
    overflow: unset;
    max-height: 59vh;
}

.overflow-scroll {
    overflow: scroll;
}

@media (min-height: 59vh) {
    .row-overflow {
        overflow: scroll;
    }
}

.my-facebook {
    height: 40px;
    font-size: 16px;
    background-color: #3c5a99;
    color: white;
    border: none;
    margin-left: 5px;
}

.my-facebook:hover {
    cursor: pointer;
    background-color: #577ac5;
}

.mb-25px {
    margin-bottom: 25px;
}

.mb-50px {
    margin-bottom: 50px;
}

.mt-25px {
    margin-top: 25px;
}

.mt-50px {
    margin-top: 50px;
}

.ant-form-item-control-input-content {
    display: flex;
    justify-content: space-around;
}

@media (min-width: 576px) {
    .ant-col-sm-offset-8 {
        margin-left: 0;
    }
}

@media (min-width: 576px) {
    .ant-col-sm-16 {
        max-width: 100%;
    }
}